<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Daylight Surgery - Clinical Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("Header", required: false)
    <script src="http://use.edgefonts.net/source-sans-pro.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("Javascript", required: false)
</body>
</html>
