<!--Container-->
 <div id="js-content">
        <div id="example-2-result"></div>
</div>    
<!--End Container-->

@section Javascript
{
    <script src="@Url.Content("~/javascripts/vendor.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/javascripts/app.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/assets/app/js/script.js")" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        require('initialize');
    </script>
    }